name: SEO CI
on:
  pull_request:
    branches:
      - main
  workflow_dispatch: # Allows manual triggering

jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    env:
      LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }} # Set environment variable using GitHub Secret

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: npm
      - name: Restore cache
        uses: actions/cache@v4
        with:
          path: |
            dist
            .nuxt
          key: ${{ runner.os }}-nuxt-build-${{ hashFiles('dist') }}
          restore-keys: |
            ${{ runner.os }}-nuxt-build-

      - name: npm install 
        run: |
          npm install

      - name: npm generate
        run: npm run generate
        continue-on-error: true  # Continue even if this step fails

      - name: run Lighthouse CI
        run: |
          npm install -g @lhci/cli
          lhci autorun
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: lhci-reports-${{ github.sha }} # Name of the artifact
          path: lhci_results # Path to the folder or files you want to upload
